:root {

    --primary-color: #055a05;
    --accent1-color: #264653;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial
}

/* header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);

}

header {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    background-color: #1f2933;
}

.logo-cell {
    display: flex;
    align-items: center;
    justify-content: right;
}

li a {
    color: white;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    /* color: var(--primary-color); */
}

nav,
p,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;

    /* width: 100%; */

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: rgba(38, 70, 83, 0.8);
    color: #fff;

}

.hero article {
    position: absolute;
    bottom: 150px;
    left: 0px;
    width: 95%;
    background: rgba(38, 70, 83, 0.8);
    color: white;
    padding: 16px;

}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 16px;
}

section h2 {
    /* background-color: #fff; */
    /* color: #000; */
    padding: 12px;
    text-align: center;
    margin-bottom: 2rem;

}

footer .socialmedia img {

    width: 32px;
    height: 32px;
}

.socialmedia {

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-flex {

    display: flex;
    justify-content: flex-end;
}

nav ul {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    /* background-color: #36454f; */
    list-style-type: none;
    align-items: center;
}

.history {
    margin-top: 1rem;
    margin: 4rem auto;
    padding: 2rem;
    /* border: 2px solid #000; */
    background-color: #1f2933;
    color: white;
}

.history-grid {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.history-grid img {
    width: 200px;
    height: 200px;
    align-items: center;
}

.adventure-grid {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    text-align: center;
}

.adventure-grid img {
    width: 100%;
    height: 160px;
}

.adventure {
    background-color: #1f2933;
    color: white;
}