body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 1rem;
}

.grid-item {
    border: 3px dashed darkcyan;
    background-color: lightyellow;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

/* .grid-item {
    width: 250px;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 20%);
    padding: 0.5rem;
    background-color: #bbb;
    color: #333;
} */

/* .item1 {
    min-height: 100px;
}

.item2 {
    min-height: 200px;
}

.item3 {
    min-height: 300px;
} */

.caption {

    grid-column: 1/4
}