* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: monospace;
    font-size: 1.2rem;
}

div {
    margin: 1rem;
    border: 1px dashed;
    padding: 1rem;
}

.one {
    width: 200px;
    height: 200px;
}

.flex {
    background-color: #aba;
    display: flex;
    align-items: center;
}

.grid {
    background-color: #abb;
    align-items: center;
    display: flex;
    align-items: center;

}

.container2 {
    /* write declarations here */
    display: flex;
    justify-content: space-between;
}

.two {
    background-color: #ace;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container3 {
    /* write declarations here */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.columns-3 {
    /* write declaration here */

}

.three {
    margin: .25rem;
    background-color: #abd;
}