* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer,
.grid {
    max-width: 840px;
    margin: 0 auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;

}

main {
    margin: 1rem;
    grid-column: 2;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
    grid-column: 1;
    grid-row: 1;

}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {

    color: white;
    display: block;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;

}

h1 {
    color: darkblue;
}

img {

    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: none;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 1rem;

}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {

    position: absolute;
    top: 25px;
    left: 150px;

}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class selectors */

.grid {

    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */

}

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}